<div style="display: flex; justify-content: right; margin-top: 10px;">
  <button [routerLink]="['/addAdmin']">Add Admin</button>
</div>
<div class="container">
  <div *ngFor="let a of admins;" class="card">
    <div class="card-content">
      <div class="card-row">
        <div class="card-label">UserName:</div>
        <div class="card-value">{{ a._id }}</div>
      </div>
      <div class="card-row">
        <div class="card-label">Name:</div>
        <div class="card-value">{{ a.name }}</div>
      </div>
      <div class="card-row">
        <div class="card-label">Designation:</div>
        <div class="card-value">{{ a.designation }}</div>
      </div>
      <div class="card-row">
        <div class="card-label">Join Date:</div>
        <div class="card-value">{{ a.joinDate }}</div>
      </div>
      <div class="card-row">
        @if(userId!=a._id){
          <button (click)="handleDelete(a._id)" class="delete-button">Delete</button>
        }
      </div>
    </div>
  </div>
</div>
