<div style="display: flex; justify-content: right; margin-top: 10px;">
  <button [routerLink]="['/addAdmin']">Add Admin</button>
</div>
<div>
  <table border="1">
    <thead>
      <tr>
        <th>UserName</th>
        <th>Name</th>
        <th>Designation</th>
        <th>Join Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of admins;">
        <td>{{ a._id }}</td>
        <td>{{ a.name }}</td>
        <td>{{ a.designation }}</td>
        <td>{{ a.joinDate }}</td>
        <td class="update-column">
          <button (click)="handleDelete(a._id)" style="background-color:#ff6347">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>