<div style="display: flex; justify-content: right; margin-top: 10px;">
  <button [routerLink]="['/addProduct']">Add Product</button>
</div>
<div class="container">
  <div *ngFor="let p of products;" class="card">
    <div class="card-content">
      <div class="card-row">
        <div class="card-label">Name:</div>
        <div class="card-value">{{ p.name }}</div>
      </div>
      <div class="card-row">
        <div class="card-label">Brand:</div>
        <div class="card-value">{{ p.brand }}</div>
      </div>
      <div class="card-row">
        <div class="card-label">Description:</div>
        <div class="card-value">{{ p.description }}</div>
      </div>
      <div class="card-row">
        <button [routerLink]="['/updateProduct', p._id]" class="update-button">Update</button>
        <button (click)="handleDelete(p._id)" class="delete-button">Delete</button>
      </div>
    </div>
  </div>
</div>


