button{
  padding: 10px 20px; 
  background-color: #17a2b8; 
  color: #fff; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer;
  margin-left: 10px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  margin: 10px;
}

.card {
  background-color: #dde;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.card-content {
  padding: 10px;
}

.card-row {
  display: flex;
  margin-bottom: 5px;
}

.card-label {
  flex: 1;
  font-weight: bold;
}

.card-value {
  flex: 2;
}

.update-button,.delete-button {
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.update-button{
  background-color: #4CAF50;
}

.delete-button{
  background-color: #ff6347;
}