<div style="display: flex; justify-content: right; margin-top: 10px;">
  <button [routerLink]="['/addProduct']">Add Product</button>
</div>
<div>
  <table border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Brand</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of products;">
        <td>{{ p.name }}</td>
        <td>{{ p.brand }}</td>
        <td>{{ p.description }}</td>
        <td class="update-column">
          <button [routerLink]="['/updateProduct', p._id]" style="background-color:#4CAF50">Update</button>
          <button (click)="handleDelete(p._id)" style="background-color:#ff6347">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>