<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

  Old Password: <input type="password" formControlName="oldPassword" /> <br />
  @if(changePasswordForm.get('oldPassword')?.invalid &&
  changePasswordForm.get('oldPassword')?.touched){<span>Old Password is required</span>}
  @if(changePasswordForm.controls.oldPassword.errors?.['minlength']){<span
    >Old dPassword with at least 5 letters</span
  >}
  <br/>

  New Password: <input type="password" formControlName="newPassword" /> <br />
  @if(changePasswordForm.get('newPassword')?.invalid &&
  changePasswordForm.get('newPassword')?.touched){<span>NewPassword is required</span>}
  @if(changePasswordForm.controls.newPassword.errors?.['minlength']){<span
    >New Password with at least 5 letters</span
  >}
  <br/>

  Confirm Password: <input type="password" formControlName="confirmPassword" /> <br />
  @if(changePasswordForm.get('confirmPassword')?.invalid &&
  changePasswordForm.get('confirmPassword')?.touched){<span>Confirm Password is required</span>}
  @if(changePasswordForm.controls.confirmPassword.errors?.['minlength']){<span>Confirm Password with at least 5 letters</span>}
  
  @if(message){<span>{{message}}</span>}
  <br/>
  <div class="button-group">
    <input type="Submit" value="Change Password" [disabled]="!changePasswordForm.valid" />
  </div>
</form>
