<form [formGroup]="addAdminForm" (ngSubmit)="onSubmit()">

  UserName: <input type="text" formControlName="_id" /> <br />
  @if(addAdminForm.get('_id')?.invalid &&
  addAdminForm.get('_id')?.touched){<span>UserName is required</span>}
  @if(addAdminForm.controls._id.errors?.['minlength']){<span
    >UserName with at least 3 letter</span
  >}
  <br/>

  Name: <input type="text" formControlName="name" /> <br />
  @if(addAdminForm.get('name')?.invalid &&
  addAdminForm.get('name')?.touched){<span>Name is required</span>}
  @if(addAdminForm.controls.name.errors?.['minlength']){<span
    >Name with at least 3 letter</span
  >}
  <br/>

  Designation: <input type="text" formControlName="designation" /> <br />
  @if(addAdminForm.get('designation')?.invalid &&
  addAdminForm.get('designation')?.touched){<span>Designation is required</span>}
  @if(addAdminForm.controls.designation.errors?.['minlength']){<span>Designation with at least 3 letter</span>}
  <br/>
  
  Password: <input type="password" formControlName="password" /> <br />
  @if(addAdminForm.get('password')?.invalid &&
  addAdminForm.get('password')?.touched){<span>Password is required</span>}
  @if(addAdminForm.controls.password.errors?.['minlength']){<span
    >Password with at least 5 letter</span
  >}
  <br/>
  @if(message){<span>{{message}}</span>}
  <br/>
  <div class="button-group">
    <input type="Submit" value="Add Admin" [disabled]="!addAdminForm.valid" />
    <button type="button" class="cancel-button" [routerLink]="['/']">Cancel</button>
  </div>
</form>
