nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  padding: 10px 0px;
}

nav ul li a {
  color: #fff;
  padding: 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}

/* Optional: Adjust styles for mobile */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}
