<nav>
  <ul>
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Admins</a
      >
    </li>
    <li>
      <a
        routerLink="/products"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Products</a
      >
    </li>
    <li>
      <a
        routerLink="/changePassword"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Change Password</a
      >
    </li>
  </ul>
</nav>